%p= @question[:question_text]to_s.force_encoding("UTF-8")
%form#answer-form{ method: 'POST', action: 'question' }
    %input#answer{ name: 'answer', type: 'hidden' }
    = hidden_field_tag :authenticity_token, form_authenticity_token
    .button-group
        - @question[:answers].each_with_index do |answer, index|
            %a.button.answer{ 'data-answer': index }
                = answerto_s.force_encoding("UTF-8")
:javascript
    $(document).ready(function() {
        $('.answer').click(function(e) {
           e.preventDefault();
            $('#answer').val($(e.target).data('answer'));
            $('#answer-form').submit();
        });
    });