Admin for 
= @community.name

- if @users.length == 0
    %h4 Homie you got no users here
- else
    %p
        THIS GAME HAS NOT STARTED YET, TO START GAME CLICK THIS BUTTON...
    %p
        %a{ href: admin_start_game_url(community_id: @community.id) }
            %button Start Game
    %p
        .alert-box.warning
            ONLY DO IT IF YOU'RE READY!
    .alert.alert-box
        Total number of users:
        = @users.length
        
    %p (Email willyxiao@gmail.com if any of these players shouldn't be here!)
    
    = render partial: 'users', locals: { users: @users }
