<div class="row">
    <div class="large-12 columns">
       <%= form_tag do %>
        <div class="row">
            <div class="large-12 columns">
                <input name="email" type="text" placeholder="Email" />
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <input name="password" type="password" placeholder="Password" />
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns"> 
                <input type="submit" class="button" />
            </div>
        </div>
        <% end %>
    </div>
</div>
