<div class="row">
    <div class="large-12 columns">
        <form>
            <div class="row">
                <div class="large-12 columns">
                    <input type="text" placeholder="Email" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="password" placeholder="Password" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns"> 
                    <input type="submit" class="button" />
                </div>
            </div>
        </form>    
    </div>
</div>
