%table
    %tbody
        %tr
            %td Games started
            %td @games.length
        %tr
            %td Users registered
            %td @users.length
= render partial: 'users', locals: { users: @users }