.row{ 'ng-if': '!user.confirmed_email' }
    .small-12.columns
        .alert.alert-box
            Your email is unconfirmed. You will need to confirm it to play the game! Resubmit your email by clicking 
            %a{ href: '/email' } here.
.row
    .small-7.columns
        %h3 Dashboard
        %h3 Game Begins in...
        %div{ "ma-timer": "startDate" }
        %h3.subheader
            You're playing in 
            %strong {{ user.community }} 
            at 
            %strong {{user.school}}
    .small-5.columns{ 'ng-if': '!user.school == "Eliot House"' }
        %div{ 'ma-timer': 'startDate' }
.row.text-center
    .small-4.columns
        %img{ 'ng-src': 'https://graph.facebook.com/v2.5/{{ user.uid }}/picture?type=large' }
        %p {{ user.name }} (You)
    .small-4.columns
        .row
            .small-12
                %li.fa.fa-long-arrow-right.fa-5x
        .row
            .small-12
                %strong To assassinate
    .small-4.columns
        %li.fa.fa-question.fa-5x.fa-border
        %p ????????? (Target)
.row
    .small-12.columns
        %label Kill Story:
        %textarea#kill-story{ placeholder: "One fine April morning as my target was walking nonchalantly to class...", autofocus: 'true' }
        %button.button.expand.disabled I eliminated my target (Disabled)
.row
    .small-3.columns
        %blockquote
            %p
                The game is starting soon! Come back here for your target on April 11.
            %p 
                In the meantime, check out our website:  
                %a{ href: "http://malaria.buzz", target: '_blank' } malaria.buzz.
