.row
    .small-3.columns
        %img{ 'ng-src': 'https://graph.facebook.com/v2.5/{{ user.uid }}/picture?type=large' }
    .small-6.columns
        %div{ 'ma-timer': 'startDate' }
    .small-3.columns
        