.row
    .small-3.columns
        %img{ 'ng-src': 'https://graph.facebook.com/v2.5/{{ user.uid }}/picture?type=large' }
    .small-6.columns
        %div{ 'ma-timer': 'startDate' }
    .small-3.columns
        .alert.alert-box.info
            %p
                The game is starting soon! Check back here for your target on April 11.
            %p 
                In the meantime check out our website:  
                %a{ href: "http://malaria.buzz", target: '_blank' } malaria.buzz.
