%table
    %thead
        %th Time
        %th Story
    %tbody
        - stories.each do |story|
            %tr
                %td= story.created_at
                %td= story.story.to_s.force_encoding('UTF-8')
