%blockquote
    .row
        .small-2.columns.text-center
            .fa.fa-heartbeat.fa-2x.fa-border
        .small-10.columns
            %h4.subheader
                There are 
                %strong
                    = players_left
                    players
                left in your game.