- if @current_user.email.nil?
    .row
        .small-12.columns
            .success.alert-box
                You must submit an email address (for notifications when someone reports a 'kill' against you) to play the game. Check your spam if you aren’t seeing the confirmation email in your inbox
- else
    .row
    .small-12.columns
        .alert.alert-box
            Your email is unconfirmed. You will need to confirm it to play the game! Resubmit your email by entering it below.  Check your spam if you aren’t seeing the confirmation email in your inbox
.small-12.columns
    = form_tag method: :post do
        .input-group
            %label{ for: 'email' } Input new Email Address here: 
            %input.ma-material.text-center{ name: 'email', type: 'email', placeholder: 'email@ending.in.edu', autofocus: true }
        .input-group
            %input.button{ type: 'submit' }
