<div class="form_description">
<br />
<h2>Why Malaria, Why Now?</h2>
</div>
<div class="row">
  <div class="large-6 columns">
    <div class="paragraph" style="text-align:left;">
      <p>Malaria is responsible for more deaths than any other disease in  human history. We want to recruit you in the war against this debilitating and often fatal disease. Over the last 15 years an unprecedented global partnership has struck a massive blow for humankind, averting half a billion cases since the year 2000. However, the first cycle of this partnership is coming to an end in 2015, and more than ever we need the best minds engaged with the challenge of Malaria. Productive engagement can come in many forms- you can join one of the Malaria research labs on your campus. You can advocate for your governments increased contribution to Malaria efforts. And  you can contribute financially.</p>
    </div>
  </div>
  <div class="large-6 columns">
    <img src="http://malariabuzz.weebly.com/uploads/1/4/7/2/14728990/8202484_orig.jpg" style="width:130;max-width:100%"/>
  </div>
  <br />
</div>
<br />
<hr>
<h2>Current Malaria Research</h2>
<div class="paragraph" style="text-align:left;">
  <p><i>Malaria research employs cutting edge tools and techniques from genetic engineering, evolutionary biology, epidemiology and disease modeling. No matter what your interests you can contribute towards the eradication of Malaria. Here are some of 2015's breakthroughs:</i></p>
  <ul>
    <li>
      Genetic engineers in UC Irvine break Mendels laws, creating a CRISPR Cas9 based gene drive system that has the potential to deliver resistance to the malaria parasite to every a Mosquito in the world within a single breeding season.
      <br />
      <a target="_blank" href="http://www.pnas.org/content/early/2015/11/18/1521077112.abstract">http://www.pnas.org/content/early/2015/11/18/1521077112.abstract</a>
    </li>
    <li>
      This is a breakdown of the effectiveness and relative impact of bed nets, antimalarial drugs and insecticides during the Roll Back Malaria partnership, which ran from 2000-2015. This important analysis will inform the future distribution of resources in the on going fight against malaria.
      <br />
      <a target="_blank" href="http://www.nature.com/nature/journal/v526/n7572/full/nature15535.html">http://www.nature.com/nature/journal/v526/n7572/full/nature15535.html</a>
    </li>
    <li>The malaria parasite can now be detected using an app and an attachment to your mobile device. Check out how these researchers at Texas A&amp;M University combined microscopy, imaging and programming in the fight against malaria
      <br />
      <a href="http://www.nature.com/articles/srep13368">http://www.nature.com/articles/srep13368</a>
    </li>
</div>

<div class="paragraph">
    <br />
    <table>
      <thead>
        <tr>
          <th><h2>NGOs Fighting Against Malaria</h2></th>
        </tr>
      </thead>
      <tbody>
        <tr><td><h4><a href="https://www.malarianomore.org/">Malaria No More</a></h4></td></tr>
        <tr><td><h4><a href="https://www.againstmalaria.com/">The Against Malaria Foundation</a></h4></td></tr>
      </tbody>
    </table>
</div>