// %p
//   %iframe{ width: "560", height: "315", src: "https://www.youtube.com/embed/A2-XTlHBf_4", frameborder: '0', allowfullscreen: 'true' }
  
%a{ href: '/auth/facebook' }
  = image_tag "facebook_login.png"

%p OR

%a{ href: "signup" } Sign Up
