%p
  %iframe{ width: "560", height: "315", src: "https://www.youtube.com/embed/A2-XTlHBf_4", frameborder: '0', allowfullscreen: 'true' }
  
%a.text-center{ href: '/auth/facebook' }
  = image_tag "https://scontent.xx.fbcdn.net/hphotos-xaf1/t39.2178-6/851579_209602122530903_1060396115_n.png"


