<p>
  <!--login button-->
  <div id="user_nav" class="button large secondary">
    <% if current_user %>
      Signed in as <strong><%= current_user.name %></strong>!
      <%= redirect_to dashboard_url %>
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <% end %>
  </div>
</p>

<p>
  <!--countdown timer-->
  <div class="clock" style="margin:2em;"></div>

</p>

<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/A2-XTlHBf_4" frameborder="0" allowfullscreen></iframe>
</p>
