<!--QUIZ-->
<!--implemented with the help of www.phpform.org-->

<form id="form_1079436" class="appnitro"  method="post" action="/quiz">
<div class="form_description">
	<h2>Malaria Quiz</h2>
	<p>Test your knowledge of malaria!</p>
</div>						
<ol>
	<li id="li_1" >
		<label class="description" for="element_1">Increased prevention and control measures have led to a ___ reduction in malaria mortality rates globally since 2000. </label>
		<span>
			<input id="element_1_1" name="quiz[q1]" class="element radio" type="radio" value="1" />
			<label class="choice" for="element_1_1">10%</label>
			<input id="element_1_2" name="quiz[q1]" class="element radio" type="radio" value="2" />
			<label class="choice" for="element_1_2">30%</label>
			<input id="element_1_3" name="quiz[q1]" class="element radio" type="radio" value="3" />
			<label class="choice" for="element_1_3">60%</label>
		</span> 
	</li>		
	<li id="li_2" >
		<label class="description" for="element_2">How many people died from malaria last year (worldwide)? </label>
		<span>
			<input id="element_2_1" name="quiz[q2]" class="element radio" type="radio" value="1" />
			<label class="choice" for="element_2_1">4,300</label>
			<input id="element_2_2" name="quiz[q2]" class="element radio" type="radio" value="2" />
			<label class="choice" for="element_2_2">43,000</label>
			<input id="element_2_3" name="quiz[q2]" class="element radio" type="radio" value="3" />
			<label class="choice" for="element_2_3">430,000</label>
		</span> 
	</li>		
	<li id="li_3" >
		<label class="description" for="element_3">Which region of the world contains 89% of malaria cases and 91% of malaria deaths? </label>
		<span>
			<input id="element_3_1" name="quiz[q3]" class="element radio" type="radio" value="1" />
			<label class="choice" for="element_3_1">South Asia</label>
			<input id="element_3_2" name="quiz[q3]" class="element radio" type="radio" value="2" />
			<label class="choice" for="element_3_2">Sub-Saharan Africa</label>
			<input id="element_3_3" name="quiz[q3]" class="element radio" type="radio" value="3" />
			<label class="choice" for="element_3_3">Central America</label>
		</span> 
	</li>		
	<li id="li_4" >
		<label class="description" for="element_4">Which of the 5 malaria parasites that can infect humans is the most widespread and the most deadly? </label>
		<span>
			<input id="element_4_1" name="quiz[q4]" class="element radio" type="radio" value="1" />
			<label class="choice" for="element_4_1">Plasmodium malariae</label>
			<input id="element_4_2" name="quiz[q4]" class="element radio" type="radio" value="2" />
			<label class="choice" for="element_4_2">Plasmodium vivax</label>
			<input id="element_4_3" name="quiz[q4]" class="element radio" type="radio" value="3" />
			<label class="choice" for="element_4_3">Plasmodium falciparum</label>
		</span> 
	</li>		
	<li id="li_5" >
		<label class="description" for="element_5">How does the malaria parasite spread from human to human? </label>
		<span>
			<input id="element_5_1" name="quiz[q5]" class="element radio" type="radio" value="1" />
			<label class="choice" for="element_5_1">Via the bites of Anopheles mosquitoes infected with Plasmodium</label>
			<input id="element_5_2" name="quiz[q5]" class="element radio" type="radio" value="2" />
			<label class="choice" for="element_5_2">Playing in dirt containing Plasmodium parasites</label>
			<input id="element_5_3" name="quiz[q5]" class="element radio" type="radio" value="3" />
			<label class="choice" for="element_5_3">Through the air or direct contact (e.g. via public toilet seats)</label>
		</span> 
	</li>
			
	<div id="user_nav">
		<input type="hidden" name="form_id" value="1079436" />
		<input id="saveForm" class="button secondary" type="submit" name="submit" value="Submit" />
	</div>
</ol>
</form>	