%h3 Malaria Assassins Rules

%p Welcome to Malaria Assassins, the nationwide campus game of assassins to raise engagement with the challenge of malaria. 

%h3.subheader To Play:
%p If you've signed up, you can login anytime with your Facebook information through the website 

%h3.subheader Game Play:
%p Each player will be assigned a target at the start of the game (date to be determined by your game administrator). A player must eliminate his or her target by any of the allowed methods (see "The Kill") and report the hit on the website. You will be given the name of your target, but not the name of the assassin out to get you. Upon reporting the assassination of your target on the website, you will be assigned a new target. 

%h3.subheader Safe Zones:
%p The safe zones where kills can not take place will vary campus to campus and community to community based on what makes sense and what the game administrator/specific community decides. 

%p Common safe zones are class, dining hall, library, formal/official events and inside the target’s room. However, as mentioned before, this is up to the discretion of the game administrator/specific community.

%h3.subheader Stunning:
%p To stun the assassin who is out to get you, score a kill against the assassin (see "The Kill"). A stunned assassins cannot try to kill you for an hour.

%h3.subheader The Kill:
%p You may score a kill against your target by any of the following means:
%p - water gun
%p - nerf gun
%p - piece of cardboard
%p - sharpie
%p -as always, changes to this list are totally fine and up to the specific community.

%h3.subheader After The Kill:
%p It is the killer's responsibility to report it to http://play.malaria.buzz/. If the victim wishes to contest the death, as they believe they were not actually killed according to game rules, they should email malariachallenge@gmail.com within 6 hours of the kill occurring. Note that saying you killed your target when this is not in fact the case is not looked favorably upon, and may result in repercussions. Ambiguous kills or "ties" go to the assassin, since they managed to get that far in the first place.
%h3.subheader About These Rules:
%p Check your email and this site periodically throughout the game. If there are any changes to these rules, you will be notified.

Have a bug? Email: wxiao@college.harvard.edu




