<div class="form_description">
	<h2>Rules</h2>
	<p>School-specific rules forthcoming!</p>
</div>

<div class="section">
  <h4><u>SECTION 1. Overview</u></h4>
  <ol>
    <li>The game begins at 12:01 am on Monday, April 18th, 2016. The official game clock is on the Malaria Assassins homepage.</li>
    <li>Each individual will be assigned a target at the game’s start.</li>
    <li>You will only be informed of your target, not of who is targeting you.</li>
    <li>If you do not kill your target by the specified deadline, you will be automatically terminated from the game.</li>
  </ol>
  <h4><u>SECTION 2. Terminology</u></h4>
  <ol>
    <li><strong>Safe Zone:</strong> An area in which an agent cannot legally be shot at by another agent or shoot another agent.</li>
    <li><strong>Off-Limits Zone:</strong> An area that no agent is allowed to pass through at any time for Assassins purposes. Agents cannot be legally shot here, nor can agents seek refuge in these areas.</li>
    <li><strong>Amnesty:</strong> A period of time where qualifying agents are exempt from game play.</li>
    <li><strong>Terminated:</strong> An agent who has been removed from the game, either from being killed or from accumulating too many penalties.</li>
  
  </ol>
  <h4><u>SECTION 3. <i>To be continued...</i></u></h4>
</div>
	<small><i>Adapted from <a href="https://quincyassassins.wordpress.com/rules/">Quincy Assassins</a></i></small>
