%h2 CONGRATULATIONS!

%p You win assassins! Please contact your school admin for further details :)

= render partial: 'shared/killstories', locals: { killstories: @killstories, deathstories: @deathstories }