Hello, please confirm your email for Malaria Assassins by clicking 
=link_to "here.", "http://play.malaria.buzz/email/#{@hash}"

You must be logged in to 
=link_to "play.malaria.buzz", 'http://play.malaria.buzz'
to confirm your email.
