Hello, please confirm your email for Malaria Assassins by clicking 
=link_to "here.", "https://malariaassassins.herokuapp.com/email/#{@hash}"

You must be logged in to 
=link_to "malariaassassins.herokuapp.com", 'https://malariaassassins.herokuapp.com/'
to confirm your email. Please ensure you confirm your email by using the same browser and device you used to request this confirmation code.
