%p 
    Hey
    = @dead.name
%p
    Sorry about this but
    = @assassin.name
    just killed you in Malaria Assassins. If you want to dispute this kill, email the admin of your game.
%p
    Also head to http://play.malaria.buzz to submit a death story and to read kill stories!