%h1 Acknowledgments

%p ● Thank you to Kaveh Khorram for reactivating the online platform in 2018. 
%p ● Thank you to Harvard University’s Defeating Malaria: From the Genes to the Globe Initiative for funding. Thank you in particular to Jaime Mchunu for coordinating the collaboration.
%p ● Thank you to Willy Xiao ’16 for creating the website in 2016 and continuing to give us help.
%p ● Thank you to Sweet Cupcakes for the treats at our kick-off event.