%h1 Acknowledgments

%p No eliminations may occur in the following areas :
%p ● Thank you to Kaveh Khorram for reactivating the online platform in 2018. 
%p ● Thank you to the Defeating Malaria Initiative at the Harvard School of Public Health for funding. Thank you in particular to Jaime Mchunu for coordinating the collaboration.
%p ● Thank you to Willy Xiao ’16 for creating the website in 2016 and continuing to give us help.
%p ● Thank you to Sweet Cupcakes for the treats at our kick-off event.