%h1 Official Adams Assassins Rules 2016

%h3 I. BASIC PLAY:

%p Play will commence Wednesday April 20​at noon​.

%p You will receive an email notification and can access the name of your first target at malariaassassins.herokuapp.com.
%p All research about your target (dorm room, daily habits, etc.) is your own responsibility.
%p You are also being hunted by another player throughout the game. If you are eliminated by your hunter, you are out of the game. Each time you eliminate a target, you will receive a new assignment and can begin hunting your new target.

%h3 II. WEAPONS:

%p There will be two acceptable methods for killing your targets this year:

%p To directly kill your target, you must use a spoon. Not a fork, not a knife, not a spork, but a typical spoon. Players will be required to supply their own spoons and dining hall spoons are EXPRESSLY FORBIDDEN. (Any assassination attempt with a dining hall spoon is an automatic failed attempt).
%p To eliminate another player, you must touch your spoon to an area of exposed skin or hair on your target. Both the hunter and the target must be touching the spoon at the same time for an elimination to count ­ that means no throwing of spoons, and no leaving your spoons around for your target to pick up.

%p The other method of killing indirectly this year will be “landmines” which are basically pieces of tape that you can write the word “landmine” on. These tape landmines may be placed on a door handle by an agent. If the target touches the door handle with his/her skin, then he/she will be eliminated. Targets may touch their door handles with gloves, shirts, etc to protect themselves from elimination and then peel off the tape landmine with their gloves. An assassin may only use a tape landmine to kill his/her own target; thus, if you open a door handle with a tape landmine that was not left by your hunter, then you will not be dead.

%h3 III. WITNESSES:

%p Eliminations with spoons are meant to be done discreetly, and cannot be witnessed by an eligible witness. To be an eligible witness, a person does not necessarily need to be playing Assassins, but they must be aware of the game ­i.e. tourists in the yard, random adults, etc. cannot be witnesses to an elimination. Friends must have already been told that you are playing the game and that they may need to act as a witness to protect you from your hunter.
%p Witnesses must actually see the spoon come in contact with the target. If an elimination is witnessed, the witness must make it known to both players immediately. The elimination is then null and void, and the hunter cannot eliminate their target again for one hour. Realize, though, that those around you are not obligated to declare that they witnessed the kill, even if they actually saw it. Choose your friends wisely.

%p Tape landmine assassinations are not subject to the witness rule. A tape landmine on a door handle may kill a player in the presence of witnesses.

%h3 IV. FOLLOWING AN ELIMINATION

%p After it is determined that an elimination was successful, both parties must admit their real names and confirm their relationship, i.e. you must tell your target that you are, indeed, their hunter. Then, you should report it on the website to receive your next target.

%h3 V. SAFE AREAS:

%p No eliminations may occur in the following areas :
%p ● Classes, as well as the 10 minutes before the class period. (i.e. 9:57­10:07 for a 10 am class).
%p ● Office Hours
%p ● Any official meetings, team practices, or work shifts. This includes Adams Hoco meetings, so come!
%p ● Any religious spaces on campus
%p ● The target’s own dorm room. *Note* Targets may be eliminated in rooms which are not their own.
%p ● The Adams Library, and all other libraries on campus.
%p ● The servery
%p ● Any door handles actually INSIDE your own room cannot be taped, even if your roommate is your target/hunter.

%h3 VI. SPECIFIC REGULATIONS:

%p ● Honesty​: Although deception is a major element of playing Assassins, there are a few basic lines which you may not cross. You may not lie about the circumstances of an elimination, or claim to have witnessed something that you didn’t see. Any disputes should be emailed to adamsninja1@gmail.com. With these exceptions, all other forms of lying and deception are allowed and encouraged.
%p ● Use of force​: The use of force to make or avoid elimination is strictly prohibited.
%p This means that pushing open a door which is being held closed by another person is illegal. This applies for players and non­playing friends as well ­­ for example, your friends may not restrain your attacker while you run away. It is directly contrary to the principles of the game. Eliminations are to be made through skill and cunning.
%p ● Collaboration​: You may work with other players and non­players to gather and share information. They may assist you in your elimination (for example, informing you of your target's location), but may NOT eliminate your target, impersonate you, or break any rules of the game. Further, all such collaboration is unofficial and non­binding: don't be surprised if one of you ends up with the other as a target!
%p ● Bribes​: Any substantial bribery (i.e $1000 cash or more) will be considered in exchange for valuable information.

%p Memento mori.