%h3 Cabot House Assassin Game Rules*
%h3 Basic Idea of the Game
%p • Teams will be composed of 2 people in Cabot. Anyone who lives in Cabot, including resident tutors, staff, house masters (and their children), and freshmen are allowed to play. (Non-resident tutors are not allowed to play.)
%p • Each team will be assigned another team as their target. If you succeed, you take over your target’s assignment, and the game continues until there is one assassin team left. If you are assassinated or fail to complete your mission, you are out of the game. Initially, there will be no time limits, but we will impose them as needed to help the game along.
%p • If you are killed but your partner is alive, you have a chance to be resurrected and reenter the game: if your partner kills your current targets or those targets are disqualified for failing to kill their targets in their assigned window, then you are brought back into the game for the next round. (In other words, one member of your team must be alive at the end of the round to continue.)
%p • Remember, this game is intended to foster Cabot House community. While there are prizes at stake, unsportsmanlike behavior and disagreements are highly discouraged.
%p • Please check your email regularly for updates, reassignments, and immune periods. 

%h3 Procedure
%p • At the start of the game, each team will receive an assignment on Malaria. An assignment only has one person, but you should use this spreadsheet to find out who their partner is. The start of the game will be Thursday, April 21th at 12:01am.
%p • If you kill both of your targets, you report the kills at the same time on Malaria. Do not report the first kill, instead include both kills in the same kill report once both are dead. If you and your partner are killed, you should tell your killer your targets, as they become their new targets, but they may not officially kill them until receiving the new assignment from Malaria. 
%p • IMPORTANT (by which I mean slightly complicated, so pay attention): If you kill one of your targets but their partner succeeds in eliminating both of their targets, the target you killed is resurrected and you will need to kill them again (bummer). 

%h3 Assassinations
%p • To assassinate your target, you must shoot and hit the assassin with your water pistol. Please put only water in the gun. The kill is not valid unless water is in the gun.
%p • You must hit the target with water on any clothing being worn or exposed skin. The target’s backpack, bag, or other non-clothing items do not count.
%p • Players also should not break any laws while tracking the target.
%p • Because squirt guns are limited, you may also kill your target by marking their skin with a marker, or by hitting them softly with a pillow.
%p • Dead people can’t kill their targets. Once an assassin has been killed, it’s up to his or her partner to carry out that team’s assassinations. 

%h3 Immunity 
%p • The following places are safe zones at ALL TIMES.
%p o Cabot Dining Hall (in the tunnels, this ends where the carpet ends) 
%p o Individual rooms are safe zones, unless the assassin is invited in by the target himself or herself. You cannot knock on the door and shoot the target while they are inside the room.
%p o Shared hallway bathrooms 
%p o Cabot Gym 
%p o Cabot Library 
%p o Classrooms with classes in session are NOT IN PLAY. Please do not attempt to assassinate individuals during any class or office hour times. 
%p • Any other place is fair game.

%h3 Stunning
%p • An assassin can be stunned by their target. Stunning occurs when the target successfully (a) shoots the assassin with a water gun or (b) marks them with a marker, either of which must occur before the assassin kills the target. 
%p • If the stun and the kill occur at the same time, no stun has occurred, and the target is eliminated
%p • If a target successfully stuns his or her assassin, the target is immune only to that particular assassin (the partner can still kill the target if the partner is alive) for exactly one hour. 

%h3 Disqualification
%p • Any attempt to break the rules or subvert the system (such as switching targets, pretending to be another person, giving the next person an invalid target, etc.) could be grounds for disqualification.

%h3 Cheating and Disputes
%p • As we mentioned above, disputes are highly discouraged, and should only be used as a last resort against blatant cheating. Cabot HoCo (specifically the overseer) will have the final decision on all disputes. You should settle minor disputes equitably amongst yourselves.
%p • Witnesses will be used in cases where the victim denies getting hit by the assassin. 
%p • Possible action could include disqualification of both people and/or ineligibility for claiming prizes.

%h3 Prizes
%p • Details of prizes will be announced soon in a separate document. 
%p *HoCo reserves the right to change these rules throughout the game.