%h2 Eliot House Rules

%h3 To Play:
%p Sign up through Facebook at https://malariaassassins.herokuapp.com/register/gftp. If you have problems to sign up, contact me at mienwang@college.harvard.edu

%h3 Winning:
%p There are two ways to win the game. The first is to be the last surviving player, and the second is to be the player with the most number of tags at the end of the game. It is therefore your goal to tag as many players as possible, and stay alive as long as possible. 

%h3 Prize:
%p The winners of the game will split the prize pool of 100 dollars.

%h3 Game Play:
%p Each player will be assigned a target at the start of the game at Tuesday April 12th 12:00AM. A player must eliminate his or her target by any of the allowed methods (see "The Tag") and report the tag story on the website. You will be given the name of your target, but not the name of the assassin out to get you. Upon reporting the assassination of your target on the website, you will be assigned a new target. Also it is expected that you have at least one meal in Eliot per day.

%h3 Safe Zones:
%p The tag cannot take place in the food servery(at any time!), but can take place in the dining hall during non-meal hours (brain break is NOT safe for dhall). The tag cannot take place in bathrooms (that would be weird). The tag cannot take place in ANY library: Eliot Library, Lamont, Widener, etc. (we don't want elaborately crafted study guides or precious books to be destroyed). The tag cannot take place at any IM events (you’re safe waiting in the breezeway at the designated meeting time, walking to event, and walking back to Eliot granted there are no detours). The tag cannot take place at Fete (we take Fete seriously), or other Eliot sanctioned events such as Stein Clubs, Hoco Meetings, Swing Dance Lessons, Strawberry Dipping, etc. Email mienwang@college.harvard.edu if you have any questions. Tags do not have to take place in Eliot, but the tag cannot take place if the target is at work or in class. The tag cannot take place at The Inferno (the Grille) while it is open for business. If you are assigned to tag your suitemate, the tag cannot take place in your suite. You also cannot be tagged in your own bed(in your assigned suite)-no need to sleep with one eye open.

%h3 Stunning:
%p To stun the assassin who is out to get you, score a tag against the assassin (see "The Tag"). A stunned assassins cannot try to tag you for an hour.

%h3 The Tag:
%p You may score a tag against your target by any of the following means:
%p - Hitting them with a shot from a nerf gun
%p - Hitting them with a shot from a water gun.
%p - Hitting them with a direct impact from a water balloon. (Hitting the floor near them, and having them exposed to some of the nearby splash does not count.) NOTE: don't be mean with water. If your target is using a computer when you go to assassinate him or her, be careful. No one likes mean people. Eliot Assassins claims no responsibility for property damaged during the game - that is your responsibility, so don't be dumb.
%p - Stabbing them with cardboard sword (read: a piece of cardboard)
%p - Marking your target's skin with a sharpie
%p - Poisoning your target with tabasco sauce. A player is successfully poisoned if tabasco sauce is put in their food without their knowledge and when the target finishes the food, they discover a note near the scene of the meal informing them of the food poisoning.
%p - Hitting them with a pillow or pool noodle
%p Note: Pillows are special in that you may use one as a shield as well as a weapon. You may carry only one pillow or pool noodle

%h3 After The Tag:
%p It is the tag's responsibility to report it to http://play.malaria.buzz/register/yvUr. If the victim wishes to contest the death, as they believe they were not actually tagged according to game rules, they should email mienwang@college.harvard.edu. Note that saying you tagged your target when this is not in fact the case is not looked favorably upon, and may result in repercussions. Ambiguous tags or "ties" go to the assassin, since they managed to get that far in the first place.

%h3 About These Rules:
%p Check your email and this site periodically throughout the game. If there are any changes to these rules, you will be notified.