%p At the start of the game, everyone will be given a target. Once you assassinate your target, their target will become your new target. If this target is eliminated, your target will be this eliminated person's target. Once you are assassinated, you are not allowed re-entry into the game.

%p Out of Town Rules: Do not register if you anticipate leaving campus for a period of 48 hours or more or you anticipate being away from campus for greater than 10 hours each day of play. 

%h3 How To Make A Kill
%p Nerf Gun
%p Water Gun
%p Pillow
%p Fly Swatter (gently)
%p Cardboard (sword)

%p You must approach your target so that they cannot see the weapon and must not be in a designated safe zone (see Three-Hour Safe Period and Safe Zones below).

%p You must shoot your target with the water gun and they must agree that they have been shot. Log the kill on play.malaria.buzz. Only once the kill is reported is it official. Please report kills as soon after the event as possible.

%h3 Three-Hour Safe Period

%p Because the name of the game is “assassins” and not “shoot out”, the kill MUST be made without the target seeing the weapon. If an assassin approaches the target in such a way that the weapon is seen, the target should yell “SAFETY”. From this point, a three-hour safe period begins during which the target cannot be killed. If the target sees the weapon but fails to yell “safety”, the kill counts and the target is out.

%p If the target yells “safety” before the weapon has landed on them, they are safe. If the target sees evidence of the weapon but not the physical weapon, the target cannot yell “safety”.

%h3 Safe Zones

%p There are several designated safe zones, where no one can be killed. In order to be considered in the safe zone, both feet must be within the building or area. The assassin may be in the zone as long as the target it fully outside it. While having one foot outside the area can get you killed, you are still safe if you are sitting or jumping within the area and your feet are not literally touching the ground.

%h3 The safe zones include:

%p Your target’s suite

%p Any dorm bathrooms (including hallway bathrooms)

%p Classrooms and classroom buildings—during class hours only or official club meetings. 

%p All libraries—library steps do not count as safe; library vestibule does

%p Annenberg (but not the exterior walkways nor the trespass of Memorial Hall). 

%p Any computer lab. 

%p Dorm events or FDO events—IM sports (starting from when the team meets up until the team re-enters the dorm), and study breaks are safe zones

%p Student employment during working hours (giving a tour, working for dorm crew, etc.). 

%h3 Although this should be obvious, please remember:

%p 1. Do not break local, state, or federal laws.
%p 2. Never do anything to threaten safety
%p 3. Do not destroy or damage property (your target’s, a bystanders, or Harvard’s)
%p 4. Abide by the Harvard Honor Code. 
%p Doing any of the above will result in elimination.

%h3 Some other reminders
%p The targets are randomly chosen, so you may be assigned a blockmate, friend, etc.
%p Although we hope that any disputes can be settled between the players involved, if needed organizers will listen to both sides and settle disputes. Email julianarodriguez@college.harvard.edu with any serious controversies. But please, use common sense and courtesy.