%h3 Leverett House Rules
%p At the start of the game, everyone will be given a target. Once you assassinate your target, their target will become your new target. If this target is eliminated, your target will be this eliminated person's target. Once you are assassinated, you are not allowed re-entry into the game.
%h3 How To Eliminate a Target
%p You must use a spoon to eliminate your target.
%p You must tap your target with a spoon and they must agree that they have been tapped. Log the elimination on play.malaria.buzz. Only once the elimination is reported is it official. Please report eliminations as soon as possible.
%p You must approach your target so that they cannot see the spoon and must not be in a designated safe zone (see Three-Hour Safe Period and Safe Zones below).
%h3 Three-Hour Safe Period
%p The elimination MUST be made without the target seeing the weapon. If an assassin approaches the target in such a way that the weapon is seen, the target should yell “SAFETY”. From this point, a three-hour safe period begins during which the target cannot be eliminated. If the target sees the weapon but fails to yell “safety”, the elimination counts and the target is out.
%p If the target yells “safety” before the weapon has landed on them, they are safe. If the target sees evidence of the weapon but not the physical weapon, the target cannot yell “safety”.
%h3 Safe Zones
%p There are several designated safe zones, where no one can be eliminated. The safe zones include:
%p Your target’s suite
%p Classrooms and classroom buildings—during class hours only
%p All libraries—library steps do not count as safe; library vestibule does
%p Dining hall servery
%p Dining hall during dining hall service hours only
%p Any computer lab
%p House events, including but not limited to IM sports (starting from when the team meets up until the team re-enters the dorm) and all study breaks
%h3 Out of Town Rules
%p If you know that you will be out of town during any duration of a round, INFORM THE ORGANIZERS AS SOON AS POSSIBLE. Before the round begins, you will designate to the organizers a person who will be your “stand in” and the exact times during which you will be away. The player who has been assigned you as their target will then receive both names at the beginning of the round. Additionally, your stand in will be able to assassinate your target during this time and ONLY during this time. If you fail to notify organizers of both your leaving town and your stand in, the player who has been assigned to elimination you may move on to the next round if they could reasonably have completed the mission if you had remained in town. This is up to the discretion of the organizers.
%p Although this should be obvious, please remember:
%p 1. Do not break local, state, or federal laws.
%p 2. Never do anything to threaten safety
%p 3. Do not destroy or damage property (your target’s, a bystanders, or Harvard’s)
%p Doing any of the above will result in elimination.
%h3 Some other reminders
%p -The targets are randomly chosen, so you may be assigned a blockmate, friend, etc.
%p -Although we hope that any disputes can be settled between the players involved, if needed organizers will listen to both sides and settle disputes. Email jessicakim@college.harvard.edu with any serious controversies. But please, use common sense and courtesy.
