%h1
    Winthrop Assassins Rules

%p
    At the start of the game, everyone will be given a target. Once you assassinate your target, their target will become your new target. If this target is eliminated, your target will be this eliminated person's target. Once you are assassinated, you are not allowed re-entry into the game.

%h3 How To Make A Tag
%p The only valid weapons are the water guns issued by the organizers of Winthrop Assassins. Anything else including but not limited to water bottles, larger guns, hoses, or water balloons CANNOT be used.  Tags made using anything else will not count. You must approach your target so that they cannot see the gun and must not be in a designated safe zone (see Three-Hour Safe Period and Safe Zones below). 

%p You must shoot your target with the water gun and they must agree that they have been shot. The assassin then emails  the Ghost of John Winthrop @ thropstalk@gmail.com with the dead target cc’ed to report the tag. They also must log the tag on play.malaria.buzz. Only once the tag is reported is it official. Please report tags as soon after the event as possible.

%h3 Three-Hour Safe Period
%p Because the name of the game is “assassins” and not “shoot out”, the tag MUST be made without the target seeing the water gun.  If an assassin approaches the target in such a way that the gun is seen, the target should yell “SAFETY”. From this point, a three-hour safe period begins during which the target cannot be tagged.  If the target sees the gun but fails to yell “safety”, the tag counts and the target is out. 

%p If the target yells “safety” before the water has landed on them, they are safe.  If the target sees evidence of the gun but not the physical gun, the target cannot yell “safety”. 

%h3 Safe Zones
%p There are several designated safe zones, where no one can be tagged.  In order to be considered in the safe zone, both feet must be within the building or area.  The assassin may be in the zone as long as the target it fully outside it. While having one foot outside the area can get you tagged, you are still safe if you are sitting or jumping within the area and your feet are not literally touching the ground.
%p The safe zones include:

%h3 Your target’s suite
%p Classrooms and classroom buildings—during class hours only
%p All libraries—library steps do not count as safe; library vestibule does
%p Dining hall servery/drinks area—marked by the change in the tile
%p Any computer lab
%p House events—Senior Dinner, IM sports (starting from when the team meets in the dining hall up until the team re-enters Winthrop House), and Stein Clubs are safe zones

%h3 Out of Town Rules
%p If you know that you will be out of town during any duration of a round, INFORM THE ORGANIZERS AS SOON AS POSSIBLE. Before the round begins, you will designate to the organizers a person who will be your “stand in” and the exact times during which you will be away. The player who has been assigned you as their target will then receive both names at the beginning of the round. Additionally, your stand in will be able to assassinate your target during this time and ONLY during this time. If you fail to notify organizers of both your leaving town and your stand in, the player who has been assigned to tag you may move on to the next round if they could reasonably have completed the mission if you had remained in town.  This is up to the discretion of the organizers.

%h3 Although this should be obvious, please remember: 
%p 1. Do not break local, state, or federal laws. 
%p 2. Never do anything to threaten safety 
%p 3. Do not destroy or damage property (your target’s, a bystanders, or Harvard’s)
%p Doing any of the above will result in elimination. 

%h3 Some other reminders
%p -The targets are randomly chosen, so you may be assigned a blockmate, friend, etc.
%p -Although we hope that any disputes can be settled between the players involved, if needed organizers will listen to both sides and settle disputes. Email thropstalk@gmail.com with any serious controversies. But please, use common sense and courtesy.
%p -Have fun!