.row
    .small-12.columns
        .row
            .small-3.columns.text-center
                {{ days | numberFixedLen:2 }}
                %p Days
            .small-3.columns.text-center
                {{ hours | numberFixedLen:2 }}
                %p Hours
            .small-3.columns.text-center
                {{ minutes | numberFixedLen:2 }}
                %p Minutes
            .small-3.columns.text-center
                {{ seconds | numberFixedLen:2 }}
                %p Seconds
            
