.row
    .small-12.columns
        .panel
            %h3 The Game Begins in...
            %ul.inline-list.text-center
                %li 
                    {{ days | numberFixedLen:2 }}
                    %p Days
                %li :
                %li
                    {{ hours | numberFixedLen:2 }}
                    %p Hours
                %li :
                %li
                    {{ minutes | numberFixedLen:2 }}
                    %p Minutes
                %li :
                %li
                    {{ seconds | numberFixedLen:2 }}
                    %p Seconds
