%div{ 'ng-show': '!community' }
    .alert-box.alert{ 'ng-show': 'error' }
        Sorry the registration code you entered:
        %code {{ error }} 
        is invalid
    // TODO
    %input{ 'ng-model': 'hash' }
%div{ 'ng-show': 'community' }
    .alert-box
        You are signing up for {{ community.name }} at {{ community.school.name }}
    %a{ href: 'auth/facebook' }
        = image_tag "facebook_login.png", 'ng-click': 'fbLogin()'
.progress.small-12
    %span.meter.secondary{ style: "width: {{ community ? 50 : 0 }}%" }
    // %span.meter.secondary.success{ style: "width: {{ ctrl.step >= 2 ? 33 : 0 }}%" }
