.row{ 'ng-show': '!community' }
    .small-12.columns
        .alert-box.alert{ 'ng-show': 'error' }
            Sorry the registration code you entered:
            %code {{ error }}
            is invalid. Please try again.
        .row
            .small-6.small-offset-3.columns
                %p
                    %form
                        %input.text-center.ma-material{ name: 'hash', 
                            'ng-model': 'hash',
                            'ng-change': 'processHash()',
                            placeholder: 'Registration Code (e.g. HbAS)', 
                            autofocus: 'true', 
                            'ng-disabled': 'processingHash' }
.row{ 'ng-show': 'community' }
    .small-12.columns
        .row
            .small-6.small-offset-3.columns.text-center
                %p
                    .panel.callout
                        %p You are registering for {{ community.name }} at {{ community.school.name }}.
                %p          
                    %a{ href: '/auth/facebook' }
                        = image_tag "facebook_login.png"
.row
    .small-12.columns.text-center
        %p
            = image_tag "logo-small.png", height: "30%", class: 'bordered'
.row
    .progress.small-12
        %span.meter.info{ style: "width: 33%" }
        %span.meter.success{ style: "width: {{ community ? 30 : 0 }}%" }
.row
    .small-4.columns.text-center
        .label.info Get to the site!
    .small-4.columns.text-center
        .label.success Enter school code
    .small-4.columns.text-center
        .label.warning Login!
.row{ 'ng-show': '!community', style: 'padding: 10px' }
    .small-6.small-offset-3.columns.text-center
        Already registered on this website?
        %a{ href: 'auth/facebook' } Click here to login instead.
