.row{ 'ng-show': '!community' }
    .small-12.columns
        .alert-box.alert{ 'ng-show': 'error' }
            Sorry the registration code you entered:
            %code {{ error }} 
            is invalid. Please try again.
        .row
            .small-4.small-offset-4.columns
                %form
                    %input.text-center.ma-material{ name: 'hash', 
                        'ng-model': 'hash',
                        'ng-change': 'processHash()',
                        placeholder: 'Registration Code (e.g. HbAS)', 
                        autofocus: 'true', 
                        'ng-disabled': 'processingHash' }
            // .small-4.columns
.row{ 'ng-show': 'community' }
    .small-12.columns
        .row
            .small-4.small-offset-4.columns
                .alert-box
                    You are signing up for {{ community.name }} at {{ community.school.name }}
                %a.text-center{ href: 'auth/facebook' }
                    = image_tag "facebook_login.png"
.row
    .progress.small-12
        %span.meter.info{ style: "width: 33%" } 
        %span.meter.success{ style: "width: {{ community ? 30 : 0 }}%" }
        // %span.meter.secondary.success{ style: "width: {{ ctrl.step >= 2 ? 33 : 0 }}%" }
